In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC

In [2]:
dataset = pd.read_csv('athlete_events.csv')
dataset.info()
dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [15]:
print(dataset.describe())
print()
print(dataset.isna().sum())
print()
df = pd.DataFrame(dataset, columns=['Height', 'Team'])
df = dataset[['Height', 'Team']].sort_values(['Height'],ascending=False)


percentOfNaAge = ((dataset['Age'].isna().sum() / 271116) * 100)
percentOfNaHeight = ((dataset['Height'].isna().sum() / 271116) * 100)
percentOfNaWeight = ((dataset['Weight'].isna().sum() / 271116) * 100)
percentOfNaMedals = ((dataset['Medal'].isna().sum() / 271116) * 100)
value = {'a': percentOfNaAge, 'h': percentOfNaHeight, 'w': percentOfNaWeight, 'm': percentOfNaMedals}
print()
print('''
PercentOfNaAge: {a} 

PercentOfNaHeight: {h} 

PercentOfNaWeight: {w}

PercentOfNaMedals: {m}'
'''.format(**value))

                  ID            Age         Height         Weight  \
count  271116.000000  261642.000000  210945.000000  208241.000000
mean    68248.954396      25.556898     175.338970      70.702393
std     39022.286345       6.393561      10.518462      14.348020
min         1.000000      10.000000     127.000000      25.000000
25%     34643.000000      21.000000     168.000000      60.000000
50%     68205.000000      24.000000     175.000000      70.000000
75%    102097.250000      28.000000     183.000000      79.000000
max    135571.000000      97.000000     226.000000     214.000000

                Year
count  271116.000000
mean     1978.378480
std        29.877632
min      1896.000000
25%      1960.000000
50%      1988.000000
75%      2002.000000
max      2016.000000

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64



PercentOfNaAge: 3.49444518213606

PercentOfNaHeight: 22.193821095029435

PercentOfNaWeight: 23.19118015904631

PercentOfNaMedals: 85.3262072323286'

                          ID                                                  \
                       count           mean           std      min       25%
Team
30. Februar              2.0   81025.000000  65561.526538  34666.0  57845.50
A North American Team    4.0   57763.750000  49312.833349  33106.0  33106.75
Acipactli                3.0   53466.333333  38075.214909  26276.0  31708.50
Acturus                  2.0   56524.500000  53756.378826  18513.0  37518.75
Afghanistan            126.0   70778.373016  44295.938693    502.0  30040.75
...                      ...            ...           ...      ...       ...
Zambia                 183.0   66261.830601  31306.868159   6435.0  39851.00
Zefyros                  2.0  100440.500000  37515.550276  73913.0  87176.75
Zimbabwe               309.0   66762.375405  37528.513714   5529.0  30256.00
Zut                      3.0   77299.666667  44981.648150  51329.0  51329.50
rn-2                     5.0   27759.400000  23033.889062   4244.0   4245.00

                                                        Age             ...  \
                            50%        75%       max  count       mean  ...
Team                                                                    ...
30. Februar             81025.0  104204.50  127384.0    2.0  33.500000  ...
A North American Team   33108.0   57765.00  131733.0    3.0  41.333333  ...
Acipactli               37141.0   67061.50   96982.0    3.0  47.333333  ...
Acturus                 56524.5   75530.25   94536.0    1.0  27.000000  ...
Afghanistan             84983.0  109336.00  133719.0   78.0  23.538462  ...
...                         ...        ...       ...    ...        ...  ...
Zambia                  74243.0   83813.50  135416.0  154.0  23.461039  ...
Zefyros                100440.5  113704.25  126968.0    2.0  35.500000  ...
Zimbabwe                73499.0   91774.00  135497.0  307.0  25.166124  ...
Zut                     51330.0   90285.00  129240.0    3.0  32.000000  ...
rn-2                    33314.0   40579.00   56415.0    5.0  29.200000  ...

                      Weight          Year                                  \
                         75%    max  count         mean        std     min
Team
30. Februar            70.00   70.0    2.0  1952.000000   0.000000  1952.0
A North American Team    NaN    NaN    4.0  1900.000000   0.000000  1900.0
Acipactli              78.50   84.0    3.0  1964.000000   0.000000  1964.0
Acturus                  NaN    NaN    2.0  1948.000000   0.000000  1948.0
Afghanistan            70.00  111.0  126.0  1966.031746  22.884733  1936.0
...                      ...    ...    ...          ...        ...     ...
Zambia                 75.00   95.0  183.0  1986.448087  13.507681  1964.0
Zefyros                78.75   85.0    2.0  1960.000000   0.000000  1960.0
Zimbabwe               75.00  106.0  309.0  1990.045307  16.277960  1928.0
Zut                      NaN    NaN    3.0  1908.000000   0.000000  1908.0
rn-2                   82.00   82.0    5.0  1912.000000   0.000000  1912.0


                          25%     50%     75%     max
Team
30. Februar            1952.0  1952.0  1952.0  1952.0
A North American Team  1900.0  1900.0  1900.0  1900.0
Acipactli              1964.0  1964.0  1964.0  1964.0
Acturus                1948.0  1948.0  1948.0  1948.0
Afghanistan            1948.0  1960.0  1980.0  2016.0
...                       ...     ...     ...     ...
Zambia                 1980.0  1984.0  1992.0  2016.0
Zefyros                1960.0  1960.0  1960.0  1960.0
Zimbabwe               1980.0  1988.0  2000.0  2016.0
Zut                    1908.0  1908.0  1908.0  1908.0
rn-2                   1912.0  1912.0  1912.0  1912.0

[1184 rows x 40 columns]

In [25]:
df = dataset.groupby(['Team']).describe().reset_index()
df.sort_values(['count'], ascending=False)

KeyError: 'count'